{% extends 'main.html' %}
{% load iban_tmp %}
{% block head_title %}Home{% endblock %}
{% block content_wrapper %}
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">IBAN List</h4>
                <p class="category">List of all active accounts.</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>IBAN</th>
                    <th class="country_code">Country Code</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for iban_account_item in iban_account_list %}
                        <tr>
                            <td>{{ iban_account_item.id }}</td>
                            <td>{{ iban_account_item.first_name }}</td>
                            <td>{{ iban_account_item.last_name }}</td>
                            <td>{{ iban_account_item.iban }}</td>
                            {% if iban_account_item.iban|iban_country_code %}
                                <td class="country_code">{{ iban_account_item.iban|iban_country_code }}</td>
                            {% endif %}
                            {% if request.user == iban_account_item.created_by %}
                                {% with iban_account_item.id as id %}
                                    <td class="actions">
                                        <a class="btn btn-primary update"
                                           href="{% url 'iban:iban_update' id %}">Update</a>
                                        <form class="delete_action"
                                              action="{% url 'iban:iban_delete' iban_account_item.id %}" method="post">
                                            {% csrf_token %}
                                            <input class="delete btn btn-danger" type="submit" value="Delete"/>
                                        </form>

                                    </td>
                                {% endwith %}
                            {% endif %}
                        </tr>
                    {% empty %}
                        <div class="col-md-12"><p class="error">No IBAN accounts found.</p></div>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination col-md-12 pagination-lg">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}

