{% extends 'main.html' %}
{% block head_title %}{% if title %}{{ title }}{% else %}Add or Update{% endif %}{% endblock %}
{% block content_wrapper %}
    <div class="col-md-8 col-lg-offset-2">
        <div class="card">
            <h4 class="form_title">{% if title %}{{ title }}{% else %}Add or Update{% endif %}</h4>
            <form class="form_instance" method="post" action="{{ action }}">
                {% csrf_token %}
                <ul class="form_control nav">
                    {{ form.as_ul }}
                    <input type="submit" value="submit" class="btn btn-info btn-fill btn-wd">
                </ul>
            </form>
        </div>
    </div>

{% endblock %}