{% extends 'main.html' %}
{% block head_title %}Update {{ object.first_name }} {{ object.last_name }}{% endblock %}
{% block content_wrapper %}

    <div class="col-md-8 col-lg-offset-2">
        <div class="card">
            {% comment %}
            Another security layer to prevent reaching and updating the instance
            unless the object.create_by == request.user
            {% endcomment %}
            {% if object.created_by == request.user %}
            <h4 class="form_title">Update an existence user</h4>
                <form class="form_instance" method="post" action="{{ action }}">
                    {% csrf_token %}
                    <ul class="form_control nav">
                        {{ form.as_ul }}
                        <input type="submit" value="submit" class="btn btn-info btn-fill btn-wd">
                    </ul>
                </form>
                </div>
            {% else %}
                <p class="warning">You shouldn't be here anyway</p>
            {% endif %}
    </div>
{% endblock %}